<template>
  <div>
    {{ data }}
  </div>
</template>

<script>
export default {
  auth: false,
  async asyncData (context) {
    const jobId = context.params.id;
    const subdomain = "test domain"
    const response = await context.app.$job.getJob(jobId, subdomain)
      .then((res) => {
        return res
      })
      .catch((err) => {
        console.error(err)
      });
    return {
      data: response
    }
  },
}
</script>

<style>

</style>